
*{
    background-image: url(./hero-area.jpg);
    background-size: auto;
    

    }
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;

}
.navbar ul li a {
    display: block;
    width: 100px;
    color: white;
}
.navbar ul li :hover {
    font-size: 150%;
    background: rgb(6, 214, 221);
    
    
}
p.lead {
    font-weight: bold;
    color: white
}
h1.wow{
    color: white;
}
a.button{
    color: white;
}
a.button:hover {
    font-size: 50px;
    background: rgb(6, 214, 221);
}
{
    @media only screen and (max-width: 1000px)
    

    }